<h1>New division</h1>

<form action="/wizard_divide">
  <label for="form_first_number">Divide this:</label>
  <input id="form_first_number" type="text" name="first_number">
  
  <label for="form_second_number">by this:</label>
  <input id="form_second_number" type="text" name="second_number">
  
  <button>
    Divide!
  </button>
</form>
